* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}


body {
    display: grid;
    grid-template-columns: repeat(1,2fr);
    box-sizing: border-box;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}

#cabecalho {
    grid-area: header;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: goldenrod;
    border-bottom: 8px solid #000000;
}

.cabecalho-centro {
    text-align: center;
    flex-direction: row;
    margin: auto;
    gap: 10rem;

}
#cabecalho h1{
    font-size: 3rem;
    text-align: center;
    color: white;
    font-style: italic;
}
#cabecalho p{
    font-size: 1em;
    text-align: center;
    color: white;
    font-style:italic;
    font-weight: bolder;
}

#cabecalho img{
    border-radius: 100px;
    border-width: 1;
    border-style: solid;
    border-color: #000000;
    border-radius: 100;
    width: 4rem;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.navegador ul{
    display: flex;
    text-align: center;
    gap: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}
.navegador ul li a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5em;
}


.navegador img {
    margin: 0.5rem;
    max-width: 20%;
}

#sidebar {
    grid-area: sidebar;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1em;
    padding: 1rem;
    background-color: goldenrod;
    border-right: 4px solid #000000;
}
#sidebar h2 {
    font-weight: 800;
    color: #fff;

}
#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    margin: 12px;
}
#corpo {
    grid-area: main;
    background-color: goldenrod;
}

.template {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin: 2em;
}
.card {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
}
.card-text{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 0.3rem
}
.card-image {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}
#rodape{
    grid-area: footer;
    background-color: goldenrod;
    text-align: center;
    justify-content: center;
}