* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}


body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-sizing: border-box;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}