
#cabecalho {
    grid-area: header;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: goldenrod;
    border-bottom: 8px solid #000000;
}

.cabecalho-centro {
    text-align: center;
    flex-direction: row;
    margin: auto;
    gap: 10rem;

}
#cabecalho h1{
    background-color: #000000d3;
    border-radius: 20px;
    font-size: 3rem;
    text-align: center;
    color: white;
    font-style: italic;
    border: 1px solid #fff;
}
#cabecalho p{
    margin: 5px;
    font-size: 1.2em;
    text-align: center;
    color: rgb(0, 0, 0);
    font-style:italic;
    font-weight: bolder;
    
}

#cabecalho img{
    border-radius: 100px;
    border-width: 1;
    border-style: solid;
    border-color: #000000;
    border-radius: 100;
    width: 4rem;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.navegador ul{
    display: flex;
    text-align: center;
    gap: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}
.navegador ul li a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5em;
}


.navegador img {
    margin: 0.5rem;
    max-width: 20%;
}